<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article for Information</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

   <div class="cart">
        <div>
            <div>
                <img class="news-image" src="../static/images/background.jpg" alt="">
            </div>
        
            <div>
                    <div class="news-info">
                        <p>news is this</p>
                    </div>
                    <div>
                        <button>get in</button>
                    </div>
            </div>
        </div>


          <div>
            <div>
                <img class="news-image" src="../static/images/background.jpg" alt="">
            </div>
        
            <div>
                    <div class="news-info">
                        <p>news is this</p>
                    </div>
                    <div>
                        <button>get in</button>
                    </div>
            </div>
        </div>

        <div>
            <div>
                <img class="news-image" src="../static/images/background.jpg" alt="">
            </div>
        
            <div>
                    <div class="news-info">
                        <p>news is this</p>
                    </div>
                    <div>
                        <button>get in</button>
                    </div>
            </div>
        </div>


        <div>
            <div>
                <img class="news-image" src="../static/images/background.jpg" alt="">
            </div>
        
            <div>
                    <div class="news-info">
                        <p>news is this</p>
                    </div>
                    <div>
                        <button>get in</button>
                    </div>
            </div>
        </div>


   </div>

</body>
</html>